

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  
  text-align: center;
}


html {
  background-color : #272727;
  color            : whitesmoke;
}

button {
  padding : 0.1rem 0.3rem;
  cursor  : pointer;
}


/* .root__name,
.branch__name,
.component__name {
  text-align: center;
} */

.branches { display: flex; }

.branch,
.component {
  margin-top: 1rem;
  width: 100%;
}